node_modules
/code/public/hot
/code/public/storage
/code/storage/*.key
vendor
/code/.env
/code/.env.backup
/code/.phpunit.result.cache
/code/docker-compose.override.yml
/code/Homestead.json
/code/Homestead.yaml
npm-debug.log
yarn-error.log
/.vagrant
/*.code-workspace
